.home-page {
    font-family: Arial, sans-serif;
    direction: rtl;
    font-family: 'Noor';
    /* src: url('C:/Users/IT/Downloads/fonts') format('truetype'); */
    font-weight: normal;
    font-style: normal;
  }
  
  .hero-section {
    background-image: url('../assets/svg/Rectangle\ 82.png'); /* Replace with your image URL */
    background-size: cover;
    width: 1920;
    height: 777;
    background-position: center;
    padding: 150px 0;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    direction: rtl;
    justify-content: right;
    align-items: start;

  }
  
  .hero-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .hero-section p {
    font-size: 1.25rem;
  }