
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0A0E3F;
    text-align: center;
    padding: 0.5rem 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    height: 60px;
    width: 1920px;
  }
  
  .footer .text{
    font-family: 'Noor';
    color: #FFFFFF;
    text-align: right;
    height: 60px;
    font-weight: 700px;
    size: 200px;

  }